@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto&display=swap');



html {
  scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Orbitron", sans-serif;
    list-style: none;
    box-sizing: border-box;
    background: #000;
  }
  
  nav {
    position: fixed;
    z-index: 100;
    height: 8vh;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }
  
   h1, h2, h5, p, span {
    color: #fff;
   }

   p, span {
    font-family: 'Roboto', sans-serif;
   }

  .logo {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
  }
  
  nav .nav-links ul {
    display: flex;
    flex-direction: row;
  }
  
  nav .nav-links ul li {
    padding: 0 4px;
    list-style: none;
  }
  
  nav .nav-links ul li img {
    transform: scale(0.45);
    cursor: not-allowed;
  }

  
  
  section {
    height: 100vh;
    overflow: hidden;
  }

  section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #000,transparent);
    z-index: 1000;
 }
  
  .bg img {
    width: 110vw;
    height: 110vh;
    filter: brightness(0.6);
  }
  
  .rock1 {
    position: absolute !important;
    left: 10vw !important;
    top: 20vh !important;
  }
  
  .rock1 img {
    width: 40%;
    filter: brightness(0.5);
  }
  
  .text h1 {
    font-family: "Orbitron", sans-serif !important;
    font-size: 5vw;
    color: #fff;
    letter-spacing: 20px;
    position: absolute;
    top: 35vh;
    left: 34vw;
    z-index: 2;
  }

  
  
  .earth img {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 34vw;
    top: 25vh;
    z-index: 1;
    filter: brightness(0.7);
  }
  
  .mid {
    left: -150px !important;
    bottom: -100px !important;
    top: unset !important;
  }
  
  .mid img {
    width: 100%;
    z-index: 2;
    left: -20px;
    top: 20vh !important;
    filter: brightness(0.8);
  }
  
  .fore {
    right: -50px !important;
    bottom: -200px !important;
    top: 0px !important;
    left: unset !important;
  }
  
  .fore img {
    width: 400px;
    height: 110vh;
    z-index: 3;
    filter: brightness(0.5);
  }

  /* section two scroll */

  #second {
     height: 100vh;
     background: linear-gradient( #000, #131055);
     position: relative;
     width: 100%;
     padding: 45px;
     display: flex;
     justify-content: center;
     align-items: center;
  }

  #second::before {
     content: '';
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 100px;
     background: linear-gradient(to top, #000,transparent);
     z-index: 1000;
  }

  /*#040410 */
  #second img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }
  
  .bg2 img {
    width: 100vw;
    height: 100vh; 
    filter: brightness(0.5);
  }

  section img#moon {
    mix-blend-mode: screen;
  }

  section img#mountains-front  {
    z-index: 10;
  }

  #text2 {
    position: absolute;
    right: 80px;
    color: #fff;
    white-space: nowrap;
    font-size: 5.5vw;
    font-family: "Orbitron", sans-serif !important;
    z-index: 9;
    
  }

  #mountains-behind, #mountains-front {
    filter: brightness(0.3) ;
    
  }

  

  /* PLANET SECTION */

  #third {
    position: relative;
    background: linear-gradient( #000, #c03d06 );
    height: 100vh;
    display: flex;
  }

  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
  }
  .heading {
    font-size: 24px;
  }

  .details {
    font-size: 16px;
  }

  .right  {
    width: 100%;
    max-width: 650px;
  }

   .planet img {
    width: 500px;
   }

  


  



 
  



  







  